@media screen and (max-width: 1120px)
{
  .project_desc > div:first-child img
  {
    width: 115%;
    top: 89px;
    right: 166px;
  }
}

@media screen and (max-width: 900px)
{
  .headerImg_container
  {
    padding: 0 65px;
  }
}

@media screen and (max-width: 750px)
{
  .headerImg_container
  {
    padding: 0 0px;
  }
  header
  {
    height: 70vh;
  }
}

@media screen and (max-width: 500px)
{
  header
  {
    height: 90vh;
  }

  .headerContent > div:first-child
  {
    margin: 90px 0;
  }

  .office_container
  {
    border: none;
    padding: 35px 0;
  }
}

@media screen and (max-width: 420px)
{
  header
  {
    height: 100vh;
  }

  .headerContent > div:first-child
  {
    margin: 120px 0;
  }
}
